setLocal('{{ pdns_dnsdist_listen_default }}')
{% for add in pdns_dnsdist_listen_additional %}
addLocal('{{ add }}')
{% endfor %}

{% if pdns_dnsdist_create_pool_from_auths %}
{% for p in pdns_auths %}
newServer({address='{{ p.listen_ips[0] }}:{{ p.listen_port }}', pool='{{p.pool}}'})
{% endfor %}
{% endif %}
{% if pdns_dnsdist_create_pool_from_recursors %}
{% for p in pdns_recursors %}
newServer({address='{{ p.listen_ips[0] }}:{{ p.listen_port }}', pool='{{p.pool}}'})
{% endfor %}
{% endif %}

{% for k,v in pdns_dnsdist_net_netmasks.items() %}
{{ k }} = newNMG()
{% for mask in v %}
{{ k }}:addMask('{{mask}}')
{% endfor %}

{% endfor %}

{% if pdns_dnsdist_internal_domains | length > 0 %}
InternalDomains = newSuffixMatchNode()
{% for int_dom in pdns_dnsdist_internal_domains %}
InternalDomains:add(newDNSName('{{ int_dom }}'))
{% endfor %}
{% endif %}

{% for rule in pdns_dnsdist_rules %}
{{ rule }}
{% endfor %}
