launch+=gmysql

gmysql-host={{ item.backend.host }}

gmysql-port=3306
gmysql-dbname={{ item.backend.database }}
gmysql-user={{ item.backend.username }}
gmysql-password={{ item.backend.password }}
gmysql-dnssec=yes

